@model commons.util.PageList<AIText.Models.BusinessKeyword.BusinessKeywordDto>
@if (Model.List?.Count > 0)
{
    <div class="card-header">
        <h4 class="card-title">列表</h4>
    </div>
    <div class="table-responsive">
        <table class="table table-vcenter card-table">
            <thead>
                <tr>
                    <th>ID</th>
                    <th>关键词</th>
                    <th>当前排名</th>
                    <th>之前排名</th>
                    <th>搜索量</th>
                    <th>每次点击成本USD</th>
                    <th>网址</th>
                    <th>流量</th>
                    <th>流量占比</th>
                    <th>流量成本</th>
                    <th class="w-1"></th>
                </tr>
            </thead>
            <tbody>
                @foreach (var info in Model.List)
                {
                    <tr>
                        <td class="text-muted">
                            @info.Id
                        </td>
                        <td class="text-muted">
                            @info.Keyword
                        </td>
                        <td class="text-muted">
                            @info.Intent
                        </td>
                        <td class="text-muted">
                            @info.Volume
                        </td>
                        <td class="text-muted">
                            @info.PotentialTraffic
                        </td>
                        <td class="text-muted">
                            @info.KeywordDifficulty
                        </td>
                        <td class="text-muted">
                            @info.CPC
                        </td>
                        <td class="text-muted">
                            @info.CreateTime
                        </td>
                        <td class="text-muted">
                            @info.UpdateTime
                        </td>

                        <td class="text-muted">
                            <div class="btn-list flex-nowrap">
                                <a data-src="@Url.Content("~/BusinessKeyword/Edit?Id="+info.Id)" class="btn btn-white">
                                    查看
                                </a>
                                <a data-confirm="/BusinessKeyword/DoDelete?Id=@info.Id" title="是否删除" class="btn btn-white">
                                    删除
                                </a>
                            </div>
                        </td>
                    </tr>
                }


            </tbody>
        </table>


    </div>

    @Html.Pager(Model)
}
else
{

    <div class="empty">
        <div class="empty-img">
            <img src="~/static/illustrations/undraw_printing_invoices_5r4r.svg" height="128" alt="">
        </div>
        <p class="empty-title">没有找到数据</p>
        <p class="empty-subtitle text-muted">
            Try adjusting your search or filter to find what you're looking for.
        </p>
    </div>
}