@model commons.util.PageList<AIText.Models.AiSetting.AiSettingDto>
@if (Model.List?.Count > 0)
{
    <div class="card-header">
        <h4 class="card-title">列表</h4>
    </div>
    <div class="table-responsive">
        <table class="table table-vcenter card-table">
            <thead>
                <tr>
                    <th>提示词</th>
                    <th>每天创建的文章数</th>
                    <th>AI平台</th>
                    <th>Wordpress站点</th>
                    <th>是否启用</th>
                    
                    <th class="w-1"></th>
                </tr>
            </thead>
            <tbody>
                @foreach (var info in Model.List)
                {
                    <tr>
                        <td class="text-muted">
                            @info.Prompt
                        </td>
                        <td class="text-muted">
                            @info.CountPerDay
                        </td>
                        <td class="text-muted">
                            @info.AiSite
                        </td>
                        <td class="text-muted">
                            @info.WpSite
                        </td>
                        <td class="text-muted">
                            @(info.IsEnable==true?"是":"否")
                        </td>
                        <td class="text-muted">
                            <div class="btn-list flex-nowrap">
                                <a data-src="@Url.Content("~/AiSetting/Edit?Id="+info.Id)"   class="btn btn-white">
                                    查看
                                </a>
                                <a data-confirm="/AiSetting/DoDelete?Id=@info.Id" title="是否删除" class="btn btn-white">
                                    删除
                                </a>
                            </div>
                        </td>
                    </tr>
                }


            </tbody>
        </table>


    </div>

    @Html.Pager(Model)
}
else
{

    <div class="empty">
        <div class="empty-img">
            <img src="~/static/illustrations/undraw_printing_invoices_5r4r.svg" height="128" alt="">
        </div>
        <p class="empty-title">没有找到数据</p>
        <p class="empty-subtitle text-muted">
            Try adjusting your search or filter to find what you're looking for.
        </p>
    </div>
}