@model List<commons.import.ImportSiteKeywordDto>
@{
    
}

@if (Model.Count != 0)
{
    <div class="card-header">
        @* <h4 class="card-title"></h4> *@
    </div>
    <div class="table-responsive">
        <table class="table table-vcenter card-table">
            <thead>
                <tr>
                    <th>ID</th>
                    <th>Keyword</th>
                    <th>Position</th>
                    <th>Previous position</th>
                    <th>Search Volume</th>
                    <th>Keyword Difficulty</th>
                    <th>CPC</th>
                    <th>URL</th>
                    <th>Traffic</th>
                    <th>Traffic (%)</th>
                    <th>Traffic Cost</th>
                    <th>创建时间</th>
                    <th>更新时间</th>
                </tr>
            </thead>
            <tbody>
                @{
                    var loopi = 0;
                }
                @foreach (var info in Model)
                {
                    <tr>
                        <td class="text-muted">
                            <input type="hidden" name="[@loopi].Id" value="@info.Id" />
                            @info.Id
                        </td>
                        <td class="text-muted">
                            <input type="hidden" name="[@loopi].Keyword" value="@info.Keyword" />
                            @info.Keyword
                        </td>
                        <td class="text-muted">
                            <input type="hidden" name="[@loopi].Position" value="@info.Position" />
                            @info.Position
                        </td>
                        <td class="text-muted">
                            <input type="hidden" name="[@loopi].PreviousPosition" value="@info.PreviousPosition" />
                            @info.PreviousPosition
                        </td>
                        <td class="text-muted">
                            <input type="hidden" name="[@loopi].SearchVolume" value="@info.SearchVolume" />
                            @info.SearchVolume
                        </td>
                        <td class="text-muted">
                            <input type="hidden" name="[@loopi].KeywordDifficulty" value="@info.KeywordDifficulty" />
                            @info.KeywordDifficulty
                        </td>
                        <td class="text-muted">
                            <input type="hidden" name="[@loopi].CPC" value="@info.CPC" />
                            @info.CPC
                        </td>
                        <td class="text-muted">
                            <input type="hidden" name="[@loopi].URL" value="@info.URL" />
                            @info.URL
                        </td>
                        <td class="text-muted">
                            <input type="hidden" name="[@loopi].Traffic" value="@info.Traffic" />
                            @info.Traffic
                        </td>
                        <td class="text-muted">
                            <input type="hidden" name="[@loopi].TrafficPercent" value="@info.TrafficPercent" />
                            @info.TrafficPercent
                        </td>
                        <td class="text-muted">
                            <input type="hidden" name="[@loopi].TrafficCost" value="@info.TrafficCost" />
                            @info.TrafficCost
                        </td>
                    </tr>
                    @if (!string.IsNullOrEmpty(info.ErrMsg))
                    {
                        <tr style="color:red; @(loopi%2==0 ? "background-color:#efffff;": "")">
                            <td></td>
                            <td colspan="8">@info.ErrMsg</td>

                        </tr>
                    }
                    loopi++;
                }
            </tbody>
        </table>
    </div>
}

@if (Model.Count == 0)
{

    <div class="empty">
        <div class="empty-img">
            <img src="~/static/illustrations/undraw_printing_invoices_5r4r.svg" height="128" alt="">
        </div>
        <p class="empty-title">没有数据</p>
        <p class="empty-subtitle text-muted">
            Try to change your Excel file.
        </p>
    </div>
}